@import "../../../common/styles/vars";
@import "../../../common/styles/pallete";

.editNodeContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $color-white;
}

.editNodeSection {
  border-top: 1px solid #E6EAEA;
  margin: 10px 0px;
  padding: 10px 0px;

  h2 {
    margin-top: 0px;
  }
}
