.closeButton {
  padding: 5px 10px 5px 20px;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  background: #f4f7f6;

  &:hover {
    background: #eee;

    .closeIcon {
      opacity: 1;
    }
  }
  span {
    margin-right: 10px;
  }
}

.closeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;

  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 1px;
    left: 10px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
